<div class="row font-weight-bold mt-5">
    <div class="col-md-4">
        <p> <a href="#"> Contact</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="#"> Over Ons </a> </p>
    </div>
    <div class="col-md-4">
        <button class="btn btn-secondary"><a href="#"> Boek Nu </a> </button>
    </div>
</div>

<div class="row font-weight-bold">
    <div class="col-md-4">
        <a class="btn  btn-social-icon btn-instagram" href="#"></a>
        <a class="btn  btn-social-icon btn-facebook" href="#"></a>
    </div>
    <div class="col-md-4">
        <a href="#"> Product </a>
    </div>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Nieuwsbrief</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
            </div>
            <button type="submit" class="btn btn-primary">schrijf in </button>
        </form>
    </div>
</div>

<div class="row">
    <i class="fa fa-copyright" aria-hidden="false"> 2017/lounched</i>
</div>