@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
// jumbotron //

.jumbotron-top {
    background-image: url("../../images/achtergrond-index.png")
}
.jumbotron-end {
    background-image: url("../../images/achtergrond-index-2.png")
}
.jumbotron-tekst {
    font-weight: bold;
    color: $white;
}


.btn-index {
    transition: all 2s ease-in-out;
}

.btn-index:hover {
    transform: scale(3,2)
}

//footer//
.footer-tekst {
    display: block;
    text-align: center;
}

//text //
.blockquote {
    font-family: "Lobster Two", cursive;
    font-size: 24px;
}

h1, h2, h3,h4, p {
    color: $titelentekst;
    text-align: center;
}

h1, h2 {
    font-weight: 500;
}

p {
    font-size: 1.1rem;
}

a {
    font-size: 1rem;
}

// forms //
.form-control {
    border: none;
    border-bottom: 2px solid $orange;
}

.form-control:focus {
    border: none;
    border-bottom: 2px solid $purple;
}


//buttons //
.btn {
    font-weight: 600;
}


.btn-primary {
    border: 3px solid $orange;
    background-color: $white;
    color: $darkpurple;
    transition-duration: 0.5s;
}

.btn-primary:hover {
    border: 3px solid $purple;
    background-color: $purple;
    color: $white;
    padding: 10px 20px 10px 20px;
}

.btn-secondary {
    border: 3px solid $purple;
    background-color: $white;
    color: $darkpurple;
    transition-duration: 0.5s;
}

.btn-secondary:hover {
    border: 3px solid $orange;
    background-color: $orange;
    color: $white;
}

.btn-product:active {
    border: 3px solid $orange;
    background-color: orange;
    color: $white;
}

//icons //
#instagram {
    background-image: url('../../images/instagram.png');
    height: 35px;
    width: 36px;
}

#instagram:hover {
    background-image: url('../../images/instagram-hover.png');
}

#facebook {
    background-image: url('../../images/facebook.png');
    height: 35px;
    width: 35px;
}

#facebook:hover {
    background-image: url('../../images/facebook-hover.png');
}



// winkelmandje //
.winkelmandje {
    margin-top: 80px;
    margin-right: 50px;
}

//images//

.img-product {
    transition: all 0.5s ease-in-out;
}

.img-product:hover {
    transform: scale(1.3);
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    h1, h2, h3, h4, p {
        text-align: left;
    }
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3,5rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    #back-to-top {
        font-size: 20px;
    }

    .winkelmandje {
        margin-right: 0px;
        margin-top: 100px;
    }

    .btn-winkelmandje {
        display: block;
        float: right;
        margin-right: 10px;
    }

    .btn-2 {
        padding-left: 150px;
        padding-right: 150px;
        float: left;
    }

    .btn-2:hover {
        padding-left: 160px;
        padding-right: 160px;
    }

    .btn-paypal {
        margin-top: 50px;
    }

    .btn-footer {
        float: right;
    }

    .instagram-icon {
        margin-left: -25px;
    }

    .facebook-icon {
        margin-right: 100px;
        margin-left: -75px;
    }
    .paypal {
        padding-top: 4rem;
    }

 }


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .jumbotron-end {
        height: 400px;
        width: 100%;
    }

    .instagram-icon {
        margin-left: -45px;
    }

    .facebook-icon {
        margin-right: 155px;
        margin-left: -110px;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .instagram-icon {
        margin-left: -65px;
    }

    .facebook-icon{
        margin-right: 205px;
        margin-left: -140px;
    }
 }