
.navbar-dark {
    background-color: $orange; 
}

.nav-itemactive:active {
    background-color: $purple;
}
.nav-link:hover {
    background-color: $purple;
}

.nav-link:focus {
    background-color: $purple;
}

.nav-pills > li > a {
    color: $white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    display: inline-block;
}

.navbar-nav {
    text-align: right;
}